.content-fs-displayed { display: none; }

/* 
 * TOPBAR AREA
*/

/* Topbar */
.eclat-topbar-logo-wrapper {
    width: 70%;
    margin: 0 auto;
}

#Topbar_Logo_Shield {
    width: 25%;
    background-size: 70%;
    margin: 0 auto;
    z-index: 10;
}

#Eclat_Licensing {
    font-size: 1.2em;
}

.eclat-licensing-title {
    width: 40%;
    font-size: 1.2em;
    letter-spacing: 5px;
}

/* Information Area */
.information-area-innerwrapper {
    display: block;
}

.information-area-panel {
    display: block;
}

#information-carousel {
    width: 100%;
}

#information-blurb {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--primary-color);
}

#information-blurb h1 {
    margin-top: 0px;
}

#information-blurb p {
    margin-bottom: 0px;
    font-size: 11pt; 
}

/* Media Area Code */
.media-area-wrapper {
    margin-top: -1px;
}

.media-area-innerwrapper {
    width: 100%;
}

/* SERVICES SECTION (LIVE) - BEGIN */

.live-services-showcase-wrapper {
    margin-top: -1px;
}

.live-services-showcase-innerwrapper {
    flex-wrap: wrap;
}

.live-services-panel {
    flex: 50%;
}

.live-services-panel:nth-child(even) {
    border-left: 1px solid rgb(97, 97, 97);
}

/*
 * ==================================
 * ABOUT PAGE STYLING
 * S T A R T
 * ==================================
 */

 .about-main-info-panel-wrapper {
    width: 90%;
    border-bottom: 1px solid var(--primary-color);
    margin: 0 auto;
}

.about-main-info-panel-innerwrapper {
    width: 90%;
    margin-bottom: 5vh;
}

.about-main-info-panel-innerwrapper h1 {
    width: 90%;
}

.about-staff-section-wrapper {
    margin: 0 auto;
    width: 70%;
    justify-content: center;
}

.staff-bio {
    font-size: 1.3em;
    text-align: left;
    font-family: 'Open Sans';
}

 /*
 * ==================================
 * ABOUT PAGE STYLING
 * E N D
 * ==================================
 */



/*
 * ==================================
 * TRAINING PAGE STYLING
 * S T A R T
 * ==================================
 */

.training-section-innerwrapper {
    width: 90%;
}


 .training-section-tabling {
    
}

.training-section-service-close-button {
    font-size: 1.4em;
}

.training-section-service-extended-desc-text {
    font-size: 1.4em;
}




.security-section-innerwrapper {
    width: 95%;
}

.security-section-heading-portion h1 {
    font-size: 3.5em;
}

.security-section-service-selections {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.security-services-details-title {
    font-size: 2.5em;
}