/*
 * ==================================
 * MAIN PAGE STYLING
 * S T A R T
 * ==================================
 */




/*
 * ==================================
 * MAIN PAGE STYLING
 * E N D 
 * ==================================
 */


/*
 * ==================================
 * ABOUT PAGE STYLING
 * S T A R T
 * ==================================
 */

/*
 * ==================================
 * ABOUT PAGE STYLING
 * E N D
 * ==================================
 */

/*
 * ==================================
 * ECLAT COMING SOON PAGE STYLING
 * S T A R T
 * ==================================
 */

#eclat_coming_soon_wrapper {
    width: 100%;
    height: 100vh;
    padding-top: 5vh;
    background-image: url(../images/patterns/subtle_carbon.png);
}

.eclat-coming-soon-innerwrapper {
    margin: 0 auto;
}

#eclat_coming_soon_logo {
    width: 100%;
    background-image: url(../images/eclat-logo-outer-glow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100%;
}

.eclat-coming-soon-text {
    font-family: 'Montserrat';
    color: white;
}

.eclat-coming-soon-title {
    font-weight: bolder;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2vh;
    letter-spacing: 3px;
}

.eclat-coming-soon-subtitle {
    margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: justify;
    width: 90%;
    min-width: 490px;
    letter-spacing: 1px;
}

.eclat-coming-soon-services {
    width: 100%;
    margin: 0 auto;
}

.eclat-coming-soon-services-title {
    font-family: 'Titillium Web';
    font-weight: bold;
    width: 100%;
    padding: 3px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: var(--tertiary-color);
    text-align: center;
}

.coming-soon-service-title-fl {
    color: var(--accent-color);
}


/* Featured Services Panels */
.coming-soon-services-panels-wrapper {
    width: 100%;
    display: none;
    border: 2px solid var(--accent-color);
}

.coming-soon-services-panel {
    width: 25%;
    padding-top: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

.services-panel-shown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.coming-soon-secondarycolor-panel {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);

}

.coming-soon-tertiarycolor-panel.shown-service {
    border-bottom: 5px solid var(--accent-color);
}

.coming-soon-tertiarycolor-panel  {
    background-color: #ececec;
}

/* Featured Services Explanation Ribbon */
.coming-soon-service-explanation-wrapper {
    width: 100%;
    margin: 0 auto;
    display: none;
    border: 2px solid var(--accent-color);
    padding: 5px;
    background-color: var(--tertiary-color);
    color: black;
    font-family: 'Open Sans';
}

.coming-soon-service-explanation-text-area {
    width: 100%;
    padding: 6px;
    text-align: center;
}

.eclat-reminder {
    font-family: 'Montserrat';
    font-size: 15px;
    text-transform: uppercase;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5vh;
}

.coming-soon-connect {
    width: 98%;
    margin: 0 auto;
    margin-top: 4.2vh;
    padding: 20px;
    background-color: rgba(44, 44, 44, 0.8);
    color: var(--tertiary-color);
    font-size: 1em;
    line-height: 1.85em;
    letter-spacing: 0.5px;
}

.coming-soon-connect-input {
    padding: 10px;
    width: 80%;
    color: var(--tertiary-color);
}

.coming-soon-email a {
    color: var(--accent-color2);
    font-weight: bolder;
    text-decoration: none;
}

/*
 * ECLAT COMING SOON PAGE STYLING
 * E N D
 */